<!DOCTYPE html>
<html ng-app="app" ng-init = "lang='mar'">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> Article</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/numpad.css" />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>

	<link href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet"/>
	
    <script src="/javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/javascripts/js.cookie-2.1.1.min.js" type="text/javascript"></script>
	
	<script src="/bower_components/angular-deckgrid/angular-deckgrid.js"></script>    
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

	<script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
	
	<script src="/javascripts/numpad.js" type="text/javascript"></script>
	
  </head>
	<body>
		<nav class="navbar navbar-inverse ">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">S.S.S.</a>
				</div>
				<div class="nav navbar-nav navbar-right" style="padding: 10px;">
					<input type="checkbox" id="langToggle">
				</div>
			</div>
		</nav>
		<ng-view></ng-view>
		<script type="text/ng-template" id="/home.html">
			<h1>{{New}} {{Article}}</h1>
			<center>
				<h2>Select Metal:</h2>	
				<table>
					<tr>
						<td>
							<a href="#/Gold" >
								<div class="button">
									<img src="../images/gold.png"/>
									<center>
										<h2>{{gold}}</h2>
									</center>
								</div>
							</a>
						</td>
						<td>
							&nbsp;&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<a href="#/Silver">
								<div class="button">
									<img src="../images/silver.png"/>
									<center>
										<h2>{{silver}}</h2>
									</center>
								</div>
							</a>
						</td>
					</tr>
				</table>
			</center>
	  	</script>
	  	
	  	<script type="text/ng-template" id="/categories.html">
		  	<div class="container">
				<h2>{{New}} {{metal}} {{Article}} {{Type}}:</h2>
				<div ng-repeat="card in categories">
					<a ng-href="/add/#/{{metal}}/{{card._id}}">
						<div class="btn {{btnClass}} col-xs-8 col-sm-4 col-md-2 col-lg-2">
		    				<h3>{{card.name}}</h3>
		    				<img data-ng-src="data:image/png;base64,{{card.image}}" style="width: 100%"/>
						</div>
					</a>
				</div>
		</script>
	  	<script type="text/ng-template" id="/add_category.html">
			<div class="container">
				<h2>{{New}} Type</h2>
				<form class="form-horizontal" ng-submit="submitForm()" role="form">
				<!-- method="post" action="/api/stock/">-->
					<div class="form-group">
	    				<label class="control-label	col-lg-3" for="metalTxt">English Name:</label>
					    <div class="col-lg-9">
							<input type="text" ng-model="engVal" required="true" class="input-lg form-control" id="engTxt">
						</div>
	  				</div>
	  				<div class="form-group">
	    				<label class="control-label	col-lg-3" for="metalTxt">Marathi Name:</label>
					    <div class="col-lg-9">
							<input type="text" ng-model="marVal" class="input-lg form-control" id="marTxt">
						</div>
	  				</div>
	  				<div id="img_grp" class="form-group">
	    				<label class="control-label	col-lg-3" for="metalTxt">Image file:</label>
					    <div class="col-lg-9">
							<input type="file" required="true"  ng-model="imageVal" class="has-feedback input-lg form-control" id="imgTxt">
						</div>
						<span class="hide" id="img_err_msg">Please select a Valid Image</span>
	  				</div>
	  				<!--<input type="hidden" ng-model="image_dataURI" id="image_uri" value=""></input>-->
	  				<div class="row">
	  					<img id="img_place" class="col-lg-3">
	  					<button type="submit" id="sbt_btn" class="center-block btn btn-primary btn-lg">Upload</button>
	  				</div>
			  	</form>
			</div>
			<script>
				function EL(id) { return document.getElementById(id); } // Get el by ID helper function

				function readFile() {
				  if (this.files && this.files[0]) {
				    var FR= new FileReader();
				    FR.onload = function(e) {
					    $("#img_place").attr("src",e.target.result);
						window.image_uri = (e.target.result);
						window.mime = base64MimeType(e.target.result);
						if(window.mime.split("/")[0] != "image"){
							$("#img_grp")
								.addClass("has-error")
								.removeClass("has-success");
							$("#img_err_msg")
								.removeClass("hide");
							$("#imgTxt").val("");
						}else{
							$("#img_grp")
								.removeClass("has-error")
								.addClass("has-success");
							$("#img_err_msg")
								.addClass("hide");
						}
				    };       
				    FR.readAsDataURL(this.files[0]);
				  }
				}
				function base64MimeType(encoded) {
				  if (!encoded) return;
				  var mime = encoded.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);

				  if (mime && mime.length) return mime[1];
				}
				EL("imgTxt").addEventListener("change", readFile, false);
			</script>
		</script>


		<script type="text/ng-template" id="/add_info.html">
			<div class="container">
				<h2>{{New}} {{Article}} </h2>
				<form class="form-horizontal" ng-submit="submitForm()" role="form">
				<!-- method="post" action="/api/stock/">-->
					<div class="row">
						<div class="col-xs-10 col-lg-10">
							<div class="form-group">
			    				<label class="control-label	col-lg-2" for="metalTxt">Metal:</label>
							    <div class="col-lg-10">
									<input type="text" disabled="true" class="input-lg form-control" id="metalTxt" value="{{metal}}">
								</div>
			  				</div>
			  				
			  				<div class="form-group">
			    				<label class="control-label col-lg-2" for="categoryTxt">Category:</label>
							    <div class="col-lg-10">
									<input type="text" disabled="true" class="input-lg form-control" id="categoryTxt" value="{{category_name}}">
								</div>
			  				</div>
			  				
			  				<div class="form-group">
			    				<label class="control-label	col-lg-2" for="wagesTxt">{{wages}} : </label>
							    <div class="col-lg-9">
									<input type="text" ng-model="wagesVal" name="wages" class="input-lg form-control" id="wagesTxt" value="0">
								</div>
								<span class="col-lg-1">
									&#8377;<!--rupees-->
								</span>
			  				</div>
			  				
			  				<div class="form-group">
			    				<label class="control-label	col-lg-2" for="weightTxt">{{Weight}} : </label>
							    <div class="col-lg-9">
									<input type="text" ng-model="weightVal" name="weight" class="input-lg form-control" id="weightTxt" value="0">
								</div>
								<span class="col-lg-1">
									{{weight_unit}}
								</span>
			  				</div>

	  					</div>
	  					<div class="col-xs-2 col-lg-2">
	  						<img src="{{category_src}}" style="width: 90%" />
	  					</div>
	  				</div>
	  				<input type="hidden"  name="metal" value="{{metal_eng}}"></input>
	  				<input type="hidden"  name="category" value="{{category_id}}"></input>
 	  				<button type="submit" id="sbt_btn" class="center-block btn btn-primary btn-lg">Submit</button>
	  			</form>
			</div>
		</script>
		<script>
			$(function(){
				var toggle = $("#langToggle").bootstrapToggle({
					on: 'English',
						off: 'Marathi',
						offstyle:"warning"
				}).change(function() {
					window.scope.lang = $(this).prop('checked') ? "eng" : "mar";
					l([window.obj]);
					Cookies.set("my_lang_settings", window.scope.lang);
				});
				var lang = Cookies.get("my_lang_settings");
				if(lang){
					window.scope.lang = lang;
				}else{
					if(!window.scope.lang){
						toggle.bootstrapToggle("off");
					}
				}
				if(window.scope.lang == "eng"){
					toggle.bootstrapToggle('on');
				}
			});
			function getL($scope, word){
				return ($scope.lang=="mar")?getMar($scope.locale,word):word;
			}
			function getMar(ar, en){
				for (var i = 0; i < ar.length; i++) {
					if(ar[i].eng == en){
						if(ar[i].mar){
							return ar[i].mar;
						}
						return en;
					}
				}
				return en;
			}
			function l(ar){
				window.http
					.get("/api/localize/")
					.success( function(response) {
						window.scope.locale = response;
						var obj = ar[0];
						window.obj = obj;
						for (var key in obj) {
							if (obj.hasOwnProperty(key)) {
								window.scope[key]=getL(window.scope, obj[key]);
							}
						}
						if(ar[1]){
							ar[1]();
						}
					});
			}
	    	angular.module('app', [
	    		'ngRoute',
	    		'akoenig.deckgrid',
	    		'ui.bootstrap'
	    	])
	    	.config(['$routeProvider', function ($routeProvider) {
			    $routeProvider
					.when('/', {
			        	templateUrl: '/home.html',
			        	controller: 'homeController'
			      	})
			      	.when('/Gold', {
						templateUrl: '/categories.html',
						controller: 'categoriesController'
			      	})
			      	.when('/Silver', {
						templateUrl: '/categories.html',
						controller: 'categoriesController'
			      	})
			      	.when('/addCategory', {
						templateUrl: '/add_category.html',
						controller: 'add_categoryController'
			      	})
			      	.otherwise({
						templateUrl: '/add_info.html',
						controller: 'add_infoController'
					});
					
			}])
			.controller('homeController', ['$location', '$scope', '$http', function ($location, $scope, $http) {
				window.scope = $scope;
				window.http = $http;
				l([{gold:"Gold", silver:"Silver", New:"New", Article:"Article"}]);
			}])
			.controller('categoriesController', ['$http', '$scope', '$routeParams', '$location', function ($http, $scope, $routeParams, $location) {
				window.scope = $scope;
				window.http = $http;
				
				var a=($location.path().split("/"));

				$scope.metal = a[1];

				$scope.btnClass = "btn-"+((a[1] == "Gold")?"warning":"default");
				
				$http.get('/api/categories/'+a[1]).success(function(data){
	        		$scope.categories = data;
	        		var obj = {};
	        		obj.metal = a[1];
	        		obj.New = "New";
	        		obj.Article = "Article";
	        		obj.Type = "Type";
	        		for (var i = data.length - 1; i >= 0; i--) {
	        			obj[data[i].name] = data[i].name;
	        			$scope.categories[i].image = base64ArrayBuffer(data[i].image.data.data);
	        		}
	        		l([obj,function(){
						for (var i = data.length - 1; i >= 0; i--) {
		        			$scope.categories[i].name = $scope[data[i].name];
		        		}
	        		}]);
	      		}).error(function(data, status){
	        		$scope.categories = [];
	      		});
    		}])
			.controller('add_categoryController', ['$scope', '$http', function($scope, $http) {
				window.scope = $scope;
				window.http = $http;
				$scope.submitForm = function() {
					$("#sbt_btn").html("Uploading...").attr("disabled","true");
					var eng = $scope.engVal;
					var mar = $scope.marVal;
					var data_uri = window.image_uri;
					data_uri = data_uri.substring(data_uri.indexOf(",") + 1);
					var obj = {name : eng};
					obj.image = {};
					obj.image.contentType = window.mime;
					obj.image.data = data_uri;
					//obj = JSON.stringify(obj);
					$.ajax({
						url: '/api/categories',
						type: 'POST',
						contentType: 'application/json',
						data: JSON.stringify(obj),
						dataType: 'json'
					}).done(function(data) {
						
						$.ajax({
							url: "/api/localize/mar/"+eng,
							type: 'PUT',
							data: JSON.stringify({mar:mar}),
							contentType: "application/json",
							success: function(){
								$("#sbt_btn")
					        		.removeClass("btn-primary")
					        		.addClass("btn-success")
					        		.html("Uploaded Successfully....");
					        	setTimeout(function(){
					        		window.location.href = "/";
					        	},1000);
							}
						});
					}).fail(function(data) {
					});
				};
			}])
			.controller('add_infoController', ['$location', '$scope', '$http', function ($location, $scope, $http) {
				window.scope = $scope;
				window.http = $http;
				
				var a=($location.path().split("/"));
				$http
					.get("/api/categories/"+a[2])
					.success(function(data){
						$scope.metal_eng = a[1];
						$scope.category_id = data._id;
						$scope.category_src ="data:image/png;base64," + base64ArrayBuffer(data.image.data.data);;
						l([{ metal:a[1], 
							category_name: data.name, 
							wages:"wages", 
							weight_unit:"grams", 
							New:"New", 
							Article:"Article",
							Weight:"Weight"
						}]);
						
						$(function(){
							$scope.weightVal = 0.0;
							$scope.wagesVal = 0;
							$("#wagesTxt").numpad();
							$("#weightTxt").numpad();
						});
						$scope.submitForm = function() {

							$("#sbt_btn").html("Adding...").attr("disabled","true");
							var obj ={};
							obj.weight = parseFloat($scope.weightVal);
							obj.wages = parseFloat($scope.wagesVal);
							obj.category = $scope.category_id;
							obj.metal = $scope.metal_eng;
							$.post("/api/stock", obj, function(s, r){
								if(s._id){
									$("#sbt_btn")
						        		.removeClass("btn-primary")
						        		.addClass("btn-success")
						        		.html("Added Successfully....");
						        	setTimeout(function(){
						        		window.location.href = "/";
						        	},1000);
								}
							});
				        };
					});
    		}]);

   function base64ArrayBuffer(arrayBuffer) {
  var base64    = ''
  var encodings = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'

  var bytes         = new Uint8Array(arrayBuffer)
  var byteLength    = bytes.byteLength
  var byteRemainder = byteLength % 3
  var mainLength    = byteLength - byteRemainder

  var a, b, c, d
  var chunk

  // Main loop deals with bytes in chunks of 3
  for (var i = 0; i < mainLength; i = i + 3) {
    // Combine the three bytes into a single integer
    chunk = (bytes[i] << 16) | (bytes[i + 1] << 8) | bytes[i + 2]

    // Use bitmasks to extract 6-bit segments from the triplet
    a = (chunk & 16515072) >> 18 // 16515072 = (2^6 - 1) << 18
    b = (chunk & 258048)   >> 12 // 258048   = (2^6 - 1) << 12
    c = (chunk & 4032)     >>  6 // 4032     = (2^6 - 1) << 6
    d = chunk & 63               // 63       = 2^6 - 1

    // Convert the raw binary segments to the appropriate ASCII encoding
    base64 += encodings[a] + encodings[b] + encodings[c] + encodings[d]
  }

  // Deal with the remaining bytes and padding
  if (byteRemainder == 1) {
    chunk = bytes[mainLength]

    a = (chunk & 252) >> 2 // 252 = (2^6 - 1) << 2

    // Set the 4 least significant bits to zero
    b = (chunk & 3)   << 4 // 3   = 2^2 - 1

    base64 += encodings[a] + encodings[b] + '=='
  } else if (byteRemainder == 2) {
    chunk = (bytes[mainLength] << 8) | bytes[mainLength + 1]

    a = (chunk & 64512) >> 10 // 64512 = (2^6 - 1) << 10
    b = (chunk & 1008)  >>  4 // 1008  = (2^6 - 1) << 4

    // Set the 2 least significant bits to zero
    c = (chunk & 15)    <<  2 // 15    = 2^4 - 1

    base64 += encodings[a] + encodings[b] + encodings[c] + '='
  }
  
  return base64
}
		</script>
	</body>
</html>