<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Cart</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/stylesheets/numpad.css" />
		<link href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet"/>

		<script src="/javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="/javascripts/js.cookie-2.1.1.min.js" type="text/javascript"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

		<script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
		<script src="/javascripts/numpad.js" type="text/javascript"></script>
		<script src="/javascripts/includes.js" type="text/javascript"></script>
		<style type="text/css">
			@media only screen and (min-width:640px){
				body {
			   		font-size: 20px;
				}
				.container .row{
  					margin-top: 10px;
  					margin-bottom: 10px
				}
			}
			.rates{
				cursor: pointer;
				text-align: center;
				vertical-align: middle;
				font-size: 1.3em;
				line-height: 2em;
			}
			.rates.gold{
				color: #ffbc48;
			}
			.rates.silver{
				color: #39b3d7;
			}

			.rates:hover{
				background-color: #555;
			}
			.navbar-header{
				height: 100%;
				display: flex;
			    align-items: center;
			}
			.col-xs-2.text-muted.text-center{
				cursor: pointer;
				color :#ccc;
			}
			.col-xs-2.text-muted.text-center.active{
				background-color: #678;
			}
			.col-xs-2.text-muted.text-center:hover{
				background-color: #444;
			}
		</style>
	</head>
	<body ng-controller="bodyController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="nav navbar-header row" style="width:90%">
					<div class="col-xs-5">
						<div class="col-xs-3">
			      			<button class="btn" style="margin-top:8px;" onclick="window.history.back();">
								<b>&#8678;</b> Back
							</button>
						</div>
						<div class="col-xs-4 rates gold">
							{{gold_rate}} &#8377;/gm
						</div>
						<div class="col-xs-5 rates silver">
							{{silver_rate}} &#8377;/gm
						</div>
					</div>
					<div class="col-xs-7">
						<div ng-repeat="cart in carts">
							<div class="{{cart.active}} col-xs-2 text-muted text-center" ng-click='goTo(cart.number);'>
								Cart {{cart.number}}
								<span class="h4">
									{{cart.total | currency:"&#8377;":2}}
								</span>
							</div>
						</div>
						<!--
						<div class="col-xs-2 cart_btn text-muted text-center">
							Cart 2
							<span class="h4">
								{{cart_total[1] | currency:"&#8377;":2}}
							</span>
						</div>
						<div class="col-xs-2 cart_btn text-muted text-center">
							Cart 3
							<span class="h4">
								{{cart_total[2] | currency:"&#8377;":2}}
							</span>
						</div>
						<div class="col-xs-2 cart_btn text-muted text-center">
							Cart 4
							<span class="h4">
								{{cart_total[3] | currency:"&#8377;":2}}
							</span>
						</div>
						<div class="col-xs-2 cart_btn text-muted text-center">
							Cart 5
							<span class="h4">
								{{cart_total[4] | currency:"&#8377;":2}}
							</span>
						</div>
						<div class="col-xs-2 cart_btn text-muted text-center">
							Cart 6
							<span class="h4">
								{{cart_total[5] | currency:"&#8377;":2}}
							</span>
						</div>-->
					</div>
				</div>
				<div class="nav navbar-nav navbar-right" style="padding: 10px;">
					<input type="checkbox" id="langToggle">
				</div>
			</div>
		</nav>
		<br><br><br>

		<div class="container">
			<div class="row">
				<label class="control-label	col-xs-2" for="cust_nameTxt">Customer Name:</label>
				<div class="col-xs-4">
					<input type="text" ng-model="cart.cust_name" class="input-md form-control" id="cust_nameTxt">
				</div>
				<label class="control-label	col-xs-1" for="cust_contactTxt">Phone:</label>
				<div class="col-xs-5">
					<input type="text" ng-model="cart.cust_contact" class="input-md form-control" id="cust_contactTxt">
				</div>
			</div>
			<div class="row">
				<label class="control-label	col-xs-2" for="cust_addressTxt">Address:</label>
				<div class="col-xs-10">
					<input type="text" ng-model="cart.cust_address" class="input-md form-control" id="cust_addressTxt">
				</div>
			</div>
			<hr style="margin-bottom:5px !important; margin-top:5px !important; " />
			<div class="row">
				<div class="h3 col-xs-8">Sales Articles</div>
				<div class="col-xs-4 text-right">
  					<button id="addSalesBtn" ng-click="addSales()" class="btn btn-primary btn-md">Add {{New}} Article to Sales</button>
				</div>
			</div>

			<table class="table table-striped">
    			<thead>
					<tr>
						<th>Metal</th>
						<th>Category</th>
						<th>{{Karat}}</th>
						<th>{{netWeight}}</th>
						<th>{{grossWeight}}</th>
						<th>{{Wages}}</th>
						<th>Total</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in cart.sales_articles">
						<td>
							{{article.metal}}
						</td>
						<td>
							{{article.category.name}}
						</td>
						<td>
							{{article.karat}}
						</td>
						<td>
							{{article.netWeight}}
						</td>
						<td>
							{{article.grossWeight}}
						</td>
						<td>
							<input type="number" class="wages_txt form-control input-md" ng-model="article.wages">
						</td>
						<td>
							{{calc(article)}}
						</td>
						<td>
							<button type="button" ng-click="delThis(article)" class="btn btn-xs btn-danger">
								<span class="glyphicon glyphicon-trash"></span>&nbsp;
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--
			<hr style="margin-bottom:5px !important; margin-top:5px !important; " />
			<h3>Resell Articles</h3>
			<div>
			</div>-->
			<hr style="margin-bottom:5px !important; margin-top:5px !important; " />
			<div class="row">
				<div class="col-xs-10 h4 text-right">
					Additional Charges(stone, etc)
				</div>
				<div class="col-xs-2">
					<input type="number" id="additionalTxt" class="input form-control" ng-model="cart.additional_charges"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 h4 text-right">
					Sub-total
				</div>
				<div class="col-xs-2 text-center">
					{{sub_total | currency:"&#8377;":2}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 h4 text-right">
					Tax(1.75%)
				</div>
				<div class="col-xs-2 text-center">
					<input type="number" id="taxTxt" class="input form-control" ng-model="cart.tax"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<h2>Total</h2>
				</div>
				<div class="col-xs-2 h3 text-primary bg-warning text-center">
					{{Total_amount | currency:"&#8377;":2}}
				</div>
			</div>
		</div>
		<div class="hide" id="gold_rate"></div>
		<div class="hide" id="silver_rate"></div>

		<script type="text/javascript">
			$(function(){
				var cartNo = Cookies.get("cartNo");
				if(!cartNo){
					Cookies.set("cartNo", 1);
					window.location.href = "cart/1";
				}else{
					if(window.location.pathname == "/cart"){
						window.location.href = "cart/#/"+cartNo;
					}
				}
			});
			angular
				.module('app',['ui.bootstrap'])
				.controller("bodyController",['$scope', '$http', '$location', function($scope, $http, $location){
					window.scope = $scope;
					window.http = $http;

					l([{
						New:"New",
						Article:"Article",
						Todays : "Today's",
						"rate" : "rate",
						grossWeight : "Gross Weight",
						netWeight : "Net Weight",
						Karat  : "Karat",
						Wages  : "Wages"
					}]);
					
					var g_rate = Cookies.get("gold_rate");
					var s_rate = Cookies.get("silver_rate");

					$scope.gold_rate = (g_rate) ? g_rate : "00.00";
					$scope.silver_rate = (s_rate) ? s_rate : "00.00";
					$("#gold_rate").html($scope.gold_rate);
					$("#silver_rate").html($scope.silver_rate);

					$scope.cartName = "cart_"+$location.path().split("/")[1];
					Cookies.set("cartNo",$location.path().split("/")[1]);
					var cart = Cookies.get($scope.cartName);
					if(cart){
						$scope.cart = JSON.parse(cart);
					}else{
						$scope.cart = {};
						$scope.cart.additional_charges = 0;
						$scope.sub_total = 0;
						$scope.cart.tax = 0;
						$scope.cart.sales_articles = [];
					}

					$scope.goTo = function(cartNo){
						window.location.href = "#/"+(cartNo);
						window.location.reload();	
					}

					$scope.calc = function(article){
						return (article.netWeight * ((article.metal=="Gold") ? $scope.gold_rate : 
							$scope.silver_rate)) + article.wages;
					}
					$scope.getTotal = function(cart){
						var total = 0;
						cart.sales_articles.forEach(function(article) {
							total += $scope.calc(article);
						});

						total += cart.additional_charges;
						return(total + (total * $scope.cart.tax * 0.01));
					}
					$scope.doTotal = function(){
						var total = 0;
						$scope.cart.sales_articles.forEach(function(article) {
							total += $scope.calc(article);
						});

						total += $scope.cart.additional_charges;
						$scope.sub_total = total;
						
						$scope.Total_amount = total + (total * $scope.cart.tax * 0.01);
					}
					$scope.delThis = function(article){
						$scope.cart.sales_articles.splice($.inArray(article, $scope.cart.sales_articles), 1);
					}
					
					$scope.addSales = function(){
						var id = prompt("Please enter Article ID");
						if(id){
							for (var i = 0; i < $scope.cart.sales_articles.length; i++) {
								if(id == $scope.cart.sales_articles[i]._id){
									alert("Article already exists in the cart");
									return;
								}
							}
							for (var i = 0; i < $scope.carts.length; i++) {
								for(var j = 0; j < $scope.carts[i].ids.length; j++){
									if(id == $scope.carts[i].ids[j]){
										alert("Article already exists in the CART : "+(i+1));
										return
									}
								}
							}
							
							$.get("/api/stock/"+id,function(s, r){
								$scope.$apply(function() {
									s.category.image = "";
									$scope.cart.sales_articles.push(s);
									setTimeout(function(){
										$(".wages_txt").each(function(){
											if(!$(this).attr("data-numpad")){
												$(this).numpad();
											}
										});
									}, 50);
								});
							}).fail(function() {
								alert("Wrong ID");
							});
						}
					}

					$scope.loadAllCarts = function(){
						$scope.carts = [];
						var ac = $location.path().split("/")[1];
						for(var i = 0; i < 6; i++){
							var cart = Cookies.get("cart_"+(i+1));
							var obj = {};
							obj.number = (i+1);
							obj.active = "";
							obj.ids = [];
							if(ac == i+1){
								obj.active = "active";
							}
							if(cart){
								cart = JSON.parse(cart);
								obj.total = $scope.getTotal(cart);
								for(var j = 0; j < cart.sales_articles.length; j++){
									obj.ids.push(cart.sales_articles[j]._id);
								}
							}else{
								obj.total = 0;
							}
							$scope.carts.push(obj);
						}
					};

					$scope.$watch('lang', function() {
						if(window.scope.lang){
							window.toggle.bootstrapToggle((window.scope.lang == "eng")?'on':'off');
						}
					});

					$scope.$watch('gold_rate', function() {
						Cookies.set("gold_rate", $scope.gold_rate);
						$scope.doTotal();
					});
					
					$scope.$watch('silver_rate', function() {
						Cookies.set("silver_rate", $scope.silver_rate);
						$scope.doTotal();
					});

					$scope.$watch('cart.additional_charges', function() {
						$scope.doTotal();
					});

					$scope.$watch('cart.tax', function() {
						$scope.doTotal();
					});
					$scope.$watch('cart.sales_articles', function() {
						$scope.doTotal();
					}, true);
					
					$scope.$watch('cart', function() {
						$scope.doTotal();
						Cookies.set($scope.cartName, JSON.stringify($scope.cart));
						$scope.loadAllCarts();
					}, true);

					$(function(){
						window.toggle = $("#langToggle").bootstrapToggle({
							on: 'English',
							off: 'Marathi',
							offstyle:"warning"
						}).change(function() {
							window.scope.lang = $(this).prop('checked') ? "eng" : "mar";
							l([window.obj]);
							Cookies.set("my_lang_settings", window.scope.lang);
							
						});
						$("#cust_contactTxt").numpad();
						$("#additionalTxt").numpad();
						$("#taxTxt").numpad();

						$(".gold").numpad({
							target : $("#gold_rate"),
							onChange : function(e, val){
								$scope.$apply(function() { 
									window.scope.gold_rate = val;
								});
							}
						});
						$(".silver").numpad({
							target : $("#silver_rate"),
							onChange : function(e, val){
								$scope.$apply(function() { 
									window.scope.silver_rate = val;
								});
							}
						});

						var lang = Cookies.get("my_lang_settings");
						if(lang){
							window.scope.lang = lang;
						}else{
							if(!window.scope.lang){
								window.toggle.bootstrapToggle("off");
							}
						}
						
						if(window.scope.lang == "eng"){
							window.toggle.bootstrapToggle('on');
						}
					});
			}]);
		</script>
	</body>
</html>