<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Jewellery Software</title>
		<% include includes.ejs %>
		<style type="text/css">
			.rates{
				cursor: pointer;
			}
			.rates.gold{
				color: #ffbc48;
			}
			.rates.silver{
				color: #39b3d7;
			}

			.rates:hover{
				background-color: #ddd;
			}
		</style>
	</head>
	<body ng-controller="bodyController">
		<navbar hide-back='true'>
			<h3>S.S.S.</h3>
		</navbar>

		<div class="container-fluid">
			<div class="jumbotron">
				<div class="row text-center">
					<div class="h1 rates gold col-xs-2 text-right">
						{{l.Gold.val}}:
					</div>
					<div class="h1 rates gold col-xs-4 text-left">
						{{gold_rate}} &#8377;/gm
					</div>
					<div class="h1 rates silver col-xs-2 text-right">
						{{l.Silver.val}}:
					</div>
					<div class="h1 rates silver col-xs-4 text-left">
						{{silver_rate}} &#8377;/gm
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-xs-2">
					<button onclick="goto('add')" class="btn btn-primary btn-lg">
						{{l.New.val}} {{l.Article.val}}
					</button>
				</div>
				<div class="col-xs-2">
					<button onclick="goto('stock')" class="btn btn-primary btn-lg">
						{{l.Stock.val}}
					</button>
				</div>
				<div class="col-xs-2">
					<button onclick="goto('sales')" class="btn btn-primary btn-lg">
						{{l.Sales.val}}
					</button>
				</div>
				<div class="col-xs-2">
					<button onclick="goto('cart')" class="btn btn-primary btn-lg">
						{{l.Cart.val}}
					</button>
				</div>
				<div class="col-xs-2">
					<button onclick="goto('bills')" class="btn btn-primary btn-lg">
						{{l.Bills.val}}
					</button>
				</div>
				<div class="col-xs-2">
					<button onclick="goto('settings')" class="btn btn-primary btn-lg">
						{{l.Settings.val}} 
						<span class="glyphicon glyphicon-cog"></span>
					</button>
				</div>
			</div>
		</div>
		<span class="hide" id="g">{{gold_rate}}</span>
		<span class="hide" id="s">{{silver_rate}}</span>

		<script type="text/javascript">
			angular
				.module('app',[
					'navbar'
				])
				.controller("bodyController",['$scope', '$http', 'navbarSrv', function($scope, $http, navbar){
					navbar.setScope($scope);
					
					var g_rate = Cookies.get("gold_rate");
					var s_rate = Cookies.get("silver_rate");

					$scope.gold_rate = (g_rate) ? g_rate : "00.00";
					$scope.silver_rate = (s_rate) ? s_rate : "00.00";

					$scope.$watch('gold_rate', function() {
						Cookies.set("gold_rate", $scope.gold_rate);
					});
					
					$scope.$watch('silver_rate', function() {
						Cookies.set("silver_rate", $scope.silver_rate);
					});

					$(function(){
						$(".gold").numpad({
							target : $("#g"),
							onChange : function(e, val){
								$scope.$apply(function() { 
									window.scope.gold_rate = val;
								});
							}
						});
						$(".silver").numpad({
							target : $("#s"),
							onChange : function(e, val){
								$scope.$apply(function() { 
									window.scope.silver_rate = val;
								});
							}
						});
					});
			}]);

			function goto(loc){
				window.location.href = "/"+loc;
			}
		</script>
	</body>
</html>