<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Cart</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
		<script src="/javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
		<script src="/javascripts/js.cookie-2.1.1.min.js" type="text/javascript"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
		<script src="/javascripts/numpad.js" type="text/javascript"></script>
		<script src="/javascripts/includes.js" type="text/javascript"></script>
		<script src="/javascripts/date.format.js" type="text/javascript"></script>
		<style>
			@media print
			{    
			    .no-print, .no-print *
			    {
			        display: none !important;
			    }
			}
			.pad{
				padding-left: 14px;
				padding-right: 0px;
			}
		</style>
	</head>
	<body ng-controller="bodyController">
		<div class="container text-center">
			<h2> S. S. S.</h2>
			<div class="row">
				<div class="pad col-xs-5 text-left">
						Bill No. {{cart.bill_no}}
				</div>
				<div class="col-xs-7 text-right">
						{{bill_date}}
				</div>
			</div>
			<div class="pad row text-left">
				<h4>Name : {{cart.cust_name}}</h4>
			</div>
			<div class="pad row text-left">
				Address : {{cart.cust_address}}
			</div>
			<table class="table">
    			<thead>
					<tr>
						<th>Category</th>
						<th>{{Karat}}</th>
						<th>{{grossWeight}}</th>
						<th>{{netWeight}}</th>
						<th>Rate</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in cart.sales_articles">
						<td>
							{{article.category.name}}
						</td>
						<td>
							{{article.karat}}
						</td>
						<td>
							{{article.grossWeight}}
						</td>
						<td>
							{{article.netWeight}}
						</td>
						<td>
							{{(article.metal=="Gold")?cart.gold_rate:cart.silver_rate}}
						</td>
						<td>
							{{article.cost}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-9 text-right">
					Additional Charges(stones, etc):
				</div>
				<div class="col-xs-3 text-right">
					{{cart.additional_charges}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 text-right">
					Sub Total:
				</div>
				<div class="col-xs-3 text-right">
					{{cart.sub_total}}
				</div>
			</div>
			<div ng-if="cart.cart.tax != 0">
				<div class="row">
					<div class="col-xs-9 text-right">
						Tax:
					</div>
					<div class="col-xs-3 text-right">
						{{cart.tax}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 text-right">
					<b>Total:</b>
				</div>
				<div class="col-xs-3 text-right">
					<b>{{cart.total | currency:"&#8377;":2}}</b>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div>
			_________________<br>
				Signature
			</div>

			<br>
			<br>
			<button class="btn btn-primary btn-lg no-print" onclick="window.close();">
				Close
			</button>

		</div>
		<script type="text/javascript">
			angular
				.module('app',['ui.bootstrap'])
				.controller("bodyController",['$scope', '$http', function($scope, $http){
					window.scope = $scope;
					window.http = $http;
					$scope.cart = JSON.parse((<%- JSON.stringify(post_data) %>).cart);
					console.log($scope.cart);
					var dt = new Date($scope.cart.bill_date);
					
					$scope.bill_date = dt.format("h:MM:ss tt d-mmm-yy");

					$scope.lang = 'mar';
					l([{
						New:"New",
						Article:"Article",
						Todays : "Today's",
						rate : "rate",
						grossWeight : "Gross Weight",
						netWeight : "Net Weight",
						Karat  : "Karat",
						Wages  : "Wages"
					},function(){
						if(window.print){
							setTimeout(function(){
								window.print();
							},500);
						}
					}]);
			}]);
		</script>
	</body>
</html>