<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Print Bill</title>
		<% include includes.ejs %>
		<style>
			body{
				font-size: 12px!important;
			}
			@media print
			{    
			    .no-print, .no-print *
			    {
			        display: none !important;
			    }
			}
			.pad{
				padding-left: 14px;
				padding-right: 0px;
			}
		</style>
	</head>
	<body ng-controller="bodyController">
		<div class="container text-center">
			<h2>S. S. S.</h2>
			<div class="row">
				<div class="pad col-xs-5 text-left">
						{{l.BillNo.val}}.: {{cart.bill_no}}
				</div>
				<div class="col-xs-7 text-right">
						{{bill_date}}
				</div>
			</div>
			<div class="pad row text-left">
				<h4>{{l.Name.val}} : {{cart.cust_name}}</h4>
			</div>
			<div class="pad row text-left">
				{{l.Address.val}} : {{cart.cust_address}}
			</div>
			<table class="table">
    			<thead>
					<tr>
						<th>{{l.Category.val}}</th>
						<th>{{l.Karat.val}}</th>
						<th>{{l.Grossweight.val}}</th>
						<th>{{l.Netweight.val}}</th>
						<th>{{l.Rate.val}}</th>
						<th>{{l.Total.val}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in cart.sales_articles">
						<td>
							{{article.category.name}}
						</td>
						<td>
							{{article.karat}}
						</td>
						<td>
							{{article.grossWeight}}
						</td>
						<td>
							{{article.netWeight}}
						</td>
						<td>
							{{(article.metal=="Gold")?cart.gold_rate:cart.silver_rate}}
						</td>
						<td>
							{{article.cost}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-xs-9 text-right">
					{{l.AdditionalCharges.val}}:
				</div>
				<div class="col-xs-3 text-right">
					{{cart.additional_charges}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 text-right">
					{{l.Subtotal.val}}:
				</div>
				<div class="col-xs-3 text-right">
					{{cart.sub_total}}
				</div>
			</div>
			<div ng-if="cart.tax != 0">
				<div class="row">
					<div class="col-xs-9 text-right">
						{{l.Tax.val}}:
					</div>
					<div class="col-xs-3 text-right">
						{{cart.tax}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 text-right">
					<b>{{l.Total.val}}:</b>
				</div>
				<div class="col-xs-3 text-right">
					<b>{{cart.total | currency:"&#8377;":2}}</b>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div>
			_________________<br>
			{{l.Signature.val}}
			</div>

			<br>
			<br>
			<navbar class="no-print hide"></navbar>
			<style>
				body{
					padding: 10px;
				}
			</style>
			<button class="btn btn-primary btn-lg no-print" onclick="window.close();">
				Close
			</button>
		</div>
		<script type="text/javascript">
			angular
				.module('app',[
					'ui.bootstrap',
					'navbar',
				])
				.controller("bodyController",['$scope', '$http', 'navbarSrv', function($scope, $http, navbar){
					navbar.setScope($scope);

					$scope.cart = JSON.parse((<%- JSON.stringify(post_data) %>).cart);

					var dt = new Date($scope.cart.bill_date);
					
					$scope.bill_date = dt.format("h:MM:ss tt d-mmm-yy");
/*
SCOPE NOT VISIBLE HERE 
					setTimeout(function(){
						for(var i =0; i < $scope.cart.sales_articles.length;i++){
							var na=$scope.cart.sales_articles[i].category.name.replace(/\W/g, '');
							console.log($scope.l["Gold"]);
							console.log(($scope.l));
						//	$scope.cart.sales_articles[i].category.name = $scope.l[$scope.cart.sales_articles[i].category.name.replace(/\W/g, '')].val;
						}
					},50);*/
					if(window.print){
						setTimeout(function(){
							window.print();
						},500);
					}
			}]);
		</script>
	</body>
</html>