<!DOCTYPE html>
<html ng-app="app" ng-init = "lang='mar'">
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Settings</title>
	    <link rel="stylesheet" href="/stylesheets/numpad.css" />
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
		<link href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet"/>
	    <script src="/javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
	    <script src="/bower_components/angular/angular.js"></script>
	    <script src="/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/javascripts/js.cookie-2.1.1.min.js" type="text/javascript"></script>
		 
	    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/navbar.js"></script>
		
		<script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
		<script src="/javascripts/numpad.js" type="text/javascript"></script>
		<script src="/javascripts/includes.js" type="text/javascript"></script>

		<style type="text/css">
			body {
			   font-size: 22px;
			}
			.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
		</style>
  	</head>
	<body>		
		<ng-view></ng-view>

		<script type="text/ng-template" id="/home.html">
			<navbar></navbar>
			<div class="jumbotron">
				<h2>Settings :</h2>
				<button class="button btn-lg btn-primary" onclick="window.location.href='#/backup_restore'">
					Backup and Restore
				</button>
				<button class="button btn-lg btn-primary" onclick="window.location.href='#/translation'">
					Translation
				</button>
			</div>
		</script>
		
		<script type="text/ng-template" id="/backup_restore.html">
			<navbar></navbar>
			<div class="jumbotron">
				<h2>backup_restore :</h2>
			</div>
		</script>
		
		<script type="text/ng-template" id="/translation.html">
			<style>
			 	.item{
			 		background-color: #eaefff;
			 	}
			</style>
			<navbar>
				<div class="row" style="line-height:1.7em;font-size:1.4em;color: #ccc">
					<span class="col-xs-2">
						Translation
					</span>
				</div>
			</navbar>

			<span class="text-center" style="color:#ccc;font-size:1em;line-height: 1em;padding-top: 12px;position:fixed;width:90%;top:0.01em;z-index:99999">
				<label>
					Search: 
					<input ng-model="searchText" type="text" style="color:black;margin-left:15px">
				</label>
			</span>

			<div class="container">
				<ul class="list-group" ng-repeat="
				word in arr | filter:searchText">
  					<li class="list-group-item row item">

  						<span class="col-xs-5">
  							English : {{word.eng}}
  						</span>
  						<span class="col-xs-5">
  							Marathi : {{word.mar}}
  						</span>
  						<span class="col-xs-1">
  							<button class="btn btn-warning" ng-click="edit($index, word._id)">
  								Edit&nbsp;&nbsp;
  								<span class="glyphicon glyphicon-pencil"></span>
  							</button>
  						</span>
  						<span class="col-xs-1">
  						<!--	<button ng-click="remove($index, word._id)" class="btn btn-danger">
  								Delete&nbsp;
  								<span class="glyphicon glyphicon-trash"></span>
  							</button>-->
  						</span>
  					</li>
  				</ul>
			</div>
			<div id="deleteProgress" style="display:none;background-color: rgba(0,0,0,0.8);position:fixed;left:0px;right:0px;top:0px;bottom:0px;z-index:99999;color:#fff;padding-top:60px" class="text-center">
				<span class="h1">
					<span class="text">Deleting ...</span>
					<span class="glyphicon glyphicon-refresh glyphicon-spin"/>
				</span>
			</div>
		</script>
		
		<script type="text/javascript">
			angular.module('app', [
				'ngRoute',
	    		'ui.bootstrap',
				'navbar'
	    	])
	    	.config(['$routeProvider', function ($routeProvider) {
			    $routeProvider
					.when('/', {
			        	templateUrl: '/home.html',
			        	controller: 'homeController'
			      	})
			      	.when('/backup_restore', {
			        	templateUrl: '/backup_restore.html',
			        	controller: 'backResController'
			      	})
			      	.when('/translation', {
			        	templateUrl: '/translation.html',
			        	controller: 'translationController'
			      	})

			}])
			.controller('homeController', ['$scope', 'navbarSrv', function ($scope, navbar) {
				navbar.setScope($scope);
				
			}])
			.controller('backResController', ['$scope', 'navbarSrv', function ($scope, navbar) {
				navbar.setScope($scope);
				
			}])
			.controller('translationController', ['$scope', '$http', 'navbarSrv', function ($scope, $http, navbar) {
				//navbar.setScope($scope);
				$scope.arr = [];
				$http
				.get("/api/localize")
				.success(function(data) {
					$scope.arr=data;
				}).error(function(err) {
					console.error(data);
				});
				$scope.edit = function(index, id){
					var mar = prompt("Enter MARATHI for "+$scope.arr[index].eng);
					if(mar!=null){
						$("#deleteProgress .text").html("Editing ...");
						$("#deleteProgress").show();
						
						$http
							.put("/api/localize/"+id, {mar : mar})
							.success(function(){
								$scope.arr[index].mar = mar;
								$("#deleteProgress").hide();
							});
					}
				}
				$scope.remove = function(index, id){
					$("#deleteProgress .text").html("Deleting ...");
					$("#deleteProgress").show();
					$http
						.delete("/api/localize/"+id)
						.success(function(){
							$scope.arr.splice(index, 1);
							$("#deleteProgress").hide();
						})
				}
			}])
			.filter('toArray', function () {
			  return function (obj, addKey) {
			    if (!angular.isObject(obj)) return obj;
			    if ( addKey === false ) {
			      return Object.keys(obj).map(function(key) {
			        return obj[key];
			      });
			    } else {
			      return Object.keys(obj).map(function (key) {
			        var value = obj[key];
			        return angular.isObject(value) ?
			          Object.defineProperty(value, '$key', { enumerable: false, value: key}) :
			          { $key: key, $value: value };
			      });
			    }
			  };
			})
	    	
		</script>
	</body>
</html>