.post-body pre.prettyprint{ width: auto; overflow: auto; tab-size: 4; padding: 10px; margin: 20px 0;}
.post-body pre.prettyprint ol.linenums li { list-style-type: decimal !important; margin-left: 0px; list-style-position: outside; word-wrap: initial;}
.inline-code {font-family: Menlo,Monaco,Consolas,"Courier New",monospace; background-color: rgba(0,0,0,0.04); border-radius: 3px; padding: 3px 6px; font-size: 13px;}

th.text-vertical>div {
	transform: rotate(270deg);
	transform-origin: left top 0;
}

h2 small a {color: inherit;}
h2 small a:hover, h2 small a:active, h2 small a:focus {color: black;}

.post-body, .post-header p {text-align: justify; color: #000; line-height: 1.7em;}
.post-body a {text-decoration: underline;}
.post-body ul { margin-left: 40px; list-style: disc outside; }
.post-body ol { margin-left: 40px; list-style: decimal outside; }
.post-body ul ul, .post-body ol ul { list-style-type: circle; margin-left: 20px; }
.post-body ol ol, .post-body ul ol { list-style-type: lower-latin; margin-left: 20px; }
.post-body ul.nav-tabs {margin-left: 0;}

.post-banner {margin-top: 20px;}
.post-footer {margin-top: 20px;}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #E0AF62;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
	text-align: left;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}

/* should be covered by future versions of bootstrap */
.table-responsive {min-height: .01%; overflow-x: auto;}
.text-nowrap {white-space: nowrap;}